/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 21, 2014, 6:07:31 AM
    Author     : anu
*/

.sixthlife_pagi{
    margin-top:20px;
    margin-bottom:20px;
}

.sixthlife_pagi span.pagination-links{
    float:right;

}

.sixthlife_pagi span.pagination-links a{ 
    padding: 0px 10px;
    background:#ccc;
    border: 1px solid #d8cfcf;
    font-weight:bold;
    font-size: 12pt;
    text-decoration: none;
 
}

.sixthlife_pagi span.pagination-links span.current{ 
    padding: 0px 10px;
    background: #09cafa;
    border: 1px solid #d8cfcf;
    font-weight:bold; 
     font-size: 12pt;
}